
.FormMain{
    margin-top: 50px;
    height: 700px;
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  .FormBlock{
    width: 800px;
    height: 500px;
    display: grid;
    font-size: 18px;
    font-weight: 400;
    gap: 50px;
    text-align: center;
  }
  form{
    display: grid;
    width: 800px;
    height: 200px;
  }
.OutputBlock{
    width: 800px;
    height: 250px;
    background-color: #4c4c4c3a;
    overflow: auto;
}
.OutputBlock ul{
    list-style-type: none;
    font-family: 'Sen', sans-serif;
}
  form input {
      padding: 10px;
      margin: 10px 0;
      border: 1px solid #000000;
      border-radius: 4px;
      font-family: 'Inter', sans-serif;
      line-height: 28px;
      font-family: 'Inter', sans-serif;
      color: #0000009a;
      font-size: 20px;
  }
  .FormBlock > .button{
    width: 800px;
    font-size: 32px;
  }
  
  button{
    text-decoration: none;
    text-decoration: none;
    border: 2px solid rgb(255,208,80);
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 48px;
    padding-right: 48px;
    background-color: rgb(255,208,80);
    color:rgb(35,37,54);
    font-weight: 700;
    width: 800px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    margin-top: 26px;
    font-family: 'Sen', sans-serif;
    letter-spacing: 1px;
  }